.div1{
    height: 1250px;
    background-color: rgb(141, 233, 233);
}
h1{
    margin-left: 640px;
    font-size: 50px;
}
.box1 img{
    height: 600px;
    width: 1100px;
    margin-left: 200px;
}
h2{
    color: brown;
    margin-left: 30px;
    text-decoration: underline;
}